:root {
  --headerColor: #50769c;
}

html {
  color: #000;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

body {
  width: 80vw;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr;
}

main {
  padding: 2%;
}

.meetUs {
  color: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.containerOut {
  padding: 1%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
}

.disc {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 15vw;
}

.pic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.picCon {
  display: grid;
  grid-template-columns: 1fr;
}

.lName,
.fName {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.lName {
  text-transform: uppercase;
}

.fName {
  text-transform: capitalize;
}

.icon {
  width: 30px;
}

.fname,
.link {
  text-align: center;
}

.link {
  color: #000;
  font-size: large;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 3px;
}

.teamimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teampic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

/*******************************************************************************/
footer {
  display: flex;
  justify-content: center;
}
.footer {
  padding: 1%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.social {
  text-align: center;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
